# Flutter / Dart
.dart_tool/
.packages
# In Flutter apps, commit pubspec.lock. Only ignore in packages.
# pubspec.lock

# Build outputs
build/
**/build/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt
**/android/app/debug.keystore
**/android/key.properties
**/android/**/gradle-wrapper.jar

# iOS/macOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/Flutter.podspec
**/ios/**/flutter_export_environment.sh
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata/
**/ios/**/DerivedData/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/**/.symlinks/
**/macos/**/xcuserdata/
**/macos/**/DerivedData/

# Web
**/web/.dart_tool/
**/web/.firebase/

# Windows
**/windows/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# IntelliJ/Android Studio
.idea/
*.iml

# VS Code (keep shared settings and extensions)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Flutter specific metadata
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.fvm/
pubspec_overrides.yaml

# Coverage
coverage/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/

# Others
*.log
*.DS_Store
*.orig
*.keystore
*.jks

# CocoaPods
**/Pods/
**/.symlinks/
**/vendor/

# Xcode user data
**/*.xcuserdatad
**/*.xcscmblueprint
